
  

body {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding:10px;
}

.one {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    font-size:1.2em;
}

.ihatlogo {
    height:10px;
    width: 10px;
}

.pages{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding:10px;
}

.art{

    display: flex;
    flex-direction: column;
    margin-left:10px;
margin-right:10px;
}
.pages .text {
    margin-left:10px;
    margin-right:10px;
}
.art .text{
color: #000023;

}
.art .line {
    border-bottom: 1px solid #000023;
    height: auto;
    margin-top: 2px;
}

.cart{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    padding-bottom:3px;
}
.cart .dot {
    background-color: black;
    color: blanchedalmond;
    height: 30px;
    width:30px;
    border-radius: 50%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    margin-left:15px;
}


.two {
    display:flex;
    flex-direction:row;
    margin-top:10px;

}
.two .grey_bg{
    padding:60px;
    background-color: #eeeeee;
}
.two .grey_bg img {
    max-width: 100%;

    width:auto;
    height:auto;
}

.two .solitude {
    display:flex;
    flex-direction:column;
    padding:10vmin;
}

.two .solitude .title {
    font-size:3vw;
}

.price_tag{
    display: flex;
    flex-direction:row;
    padding-top:5vh;
    padding-bottom:5vh;
    justify-content: flex-start;
    font-size:1.5vw;
}

.solitude .description {
font-size:1.2vw;
}
.price_tag .dimension{
    margin-left:2vw;
}
.readMore {
    display:flex;
    flex-direction:column;
    padding-top:2vh;
    padding-bottom:2vh;
}
.readMore .text {
text-decoration: underline;
}

.two .options {
    border-color: #eeeeee;
    border-width:1px;
    border-style:solid;
    padding:2vmin;
    width:15vw;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-bottom:2vw;
}

.two .select {
    font-weight: bold;
    font-size:1.1vw;
    padding-top:1vh;
    padding-bottom:1vh;
}
.two .options img {
    height: 1.5vmin;
    width: 1.5vmin;
    padding-top:0.5vh;
}

.two .yesOrno {
    display:flex;
    flex-direction:row;
    font-size:2.5vmin;
    padding-top:2vh;
    padding-bottom:2vh;
    justify-content: space-between;
    padding-right: 5vw;

}

.two .yesContainer {
    display: flex;
    flex-direction:row;
}

.two .noContainer {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
}
.two .yes {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    height: 4vmin;
    width:4vmin;
    border-radius: 50%;
    border-style:solid;
    border-width:1px;
    margin-right: 1.5vw;
}
.two .inner {
    height: 1.5vmin;
    width:1.5vmin;
    border-radius: 50%;
    border-style:solid;
    background-color: black;
}

.two .no {

    height: 4vmin;
    width:4vmin;
    border-radius: 50%;
    border-style:solid;
    border-width:1px;

}

.two .add {
    display:flex;
    flex-direction:row;
    background-color: black;
    width:15vw;
    padding:15px;
    align-items:center;
    justify-content:center;
    margin-top:2vh;

}

.two .add .text {
    color:white;
}