
  
@font-face {
    font-family: 'Open Sans';
    src: url('Open_Sans/OpenSans-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Playfair';
    src: url('Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  }
body {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding:10px;
    font-family: 'Open Sans';
    font-size:2.5vmin;
    color:#2F4F4F;
}

.one {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.one img {
    max-width: 100%;
    width:auto;
    height:auto;
}

.pages{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding:10px;
}

.art{

    display: flex;
    flex-direction: column;
    margin-left:10px;
margin-right:10px;
}
.pages .text {
    margin-left:10px;
    margin-right:10px;
}
.art .text{
color: #000023;

}
.art .line {
    border-bottom: 1px solid #000023;
    height: auto;
    margin-top: 2px;
}

.cart{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    padding-bottom:3px;
}
.cart .dot {
    background-color: black;
    color: blanchedalmond;
    height:5vmin;
    width:5vmin;
    border-radius: 50%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    margin-left:15px;
}


.two {
    display:flex;
    flex-direction:row;
    margin-top:10px;

}
.two .grey_bg{
    padding:8vmin;
    background-color: #eeeeee;
}
.two .grey_bg img {
    max-width: 100%;

    width:auto;
    height:auto;
}

.two .solitude {
    display:flex;
    flex-direction:column;
    padding:10vmin;

}

.two .solitude .title {
    font-size:3vw;
    font-family: 'Playfair';
}

.price_tag{
    display: flex;
    flex-direction:row;
    padding-top:5vh;
    padding-bottom:5vh;
    justify-content: flex-start;
    color:black;
    
}

.solitude .description {
font-size:2.5vmin;
max-width: 30vw;
}
.price_tag .dimension{
    margin-left:2vw;
}
.readMore {
    display:flex;
    flex-direction:column;
    padding-top:2vh;
    padding-bottom:2vh;
    font-size:2vmin;
    color:black;
}
.readMore .text {
text-decoration: underline;
}

.two .options {
    border-color: #eeeeee;
    border-width:1px;
    border-style:solid;
    padding:2vmin;
    width:35vmin;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-bottom:2vw;
}

.two .select {
    padding-top:1vh;
    padding-bottom:1vh;
    color:black;
}
.two .options img {
    height: 1.5vmin;
    width: 1.5vmin;
    padding-top:0.5vh;
}

.two .yesOrno {
    display:flex;
    flex-direction:row;
    padding-top:2vh;
    padding-bottom:2vh;
    justify-content: space-between;
    padding-right: 5vw;

}

.two .yesContainer {
    display: flex;
    flex-direction:row;
    margin-top:1.4vw;
}

.two .yesColumn {
    display: flex;
    flex-direction:column;
}
.two .noColumn {
    display: flex;
    flex-direction:column;
}
.two .noContainer {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    margin-top:1.4vw;
}
.two .yes {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    height: 4vmin;
    width:4vmin;
    border-radius: 50%;
    border-style:solid;
    border-width:1px;
    margin-right: 1.5vw;
}
.two .inner {
    height: 1.5vmin;
    width:1.5vmin;
    border-radius: 50%;
    border-style:solid;
    background-color: black;
    color:black
}

.two .no {

    height: 4vmin;
    width:4vmin;
    border-radius: 50%;
    border-style:solid;
    border-width:1px;
    margin-right: 1.5vw;
}

.two .add {
    display:flex;
    flex-direction:row;
    background-color: black;
    width:38vmin;
    padding-top:2vmin;
    padding-bottom:2vmin;
  
    align-items:center;
    justify-content:center;
    margin-top:2vh;

}

.two .add .text {
    color:white;
}

.three {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding-top:15vmin;
    color:#2F4F4F

}
.three .image_holder {
    padding-top:5vmin;
}
.three img {
    max-width: 100%;
    height:auto;
    width:auto;
}
.three .left {
    display: flex;
    flex-direction:column;
    padding:5vmin;

}

.three .left .title {
    font-size: 6vmin;
    font-family: 'Playfair';
}

.three .left .content {
    max-width: 50vmin;
    min-width:7vmin;
    padding-top:3vmin;
 
  }




.four {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding-top:15vmin;
    color:#2F4F4F

}
.four .image_holder {
    padding-top:5vmin;
}
.four img {
    max-width: 100%;
    height:auto;
    width:auto;
}
.four .left {
    display: flex;
    flex-direction:column;
    padding:5vmin;
}

.four .left .title {
    font-size: 6vmin;
    font-family: 'Playfair';
}

.four .left .content {
    max-width: 50vmin;
    min-width:7vmin;
    padding-top:3vmin;
 
  }
   .five {
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        padding-top:15vmin;
    
    }
    

.five img {
    max-width: 100%;
    height: auto;
    width:auto;
}

.six {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-top:10vmin;
    padding-bottom:10vmin;
}

.six .artBoxes {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.six .artBoxes .artBox {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    padding:2vmin;
}

.six .artBoxes .artBox .image_holder{
    padding:6vmin;
    background-color: #eeeeee;

}

.six .artBoxes .artBox img{
    max-width: 100%;
    height: auto;
    width:auto;
}

.six .artText{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.six .title {
    font-size:6vmin;
    font-family:'Playfair';
    color:black;
}
.six .artText .title {
    font-size:3vmin;
    font-weight: bold;
    padding-top:3vmin;
    color:#2F4F4F
}
.six .artText .description {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    padding-top:3vmin;
}

.footer {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top:10vmin;
    padding-bottom:10vmin;
}

.footer .foobox {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:6vmin;
}
.foobox .content {
    max-width: 50vmin;
    text-align: center;
    padding-top:3vmin;

}
.footer .foobox .icons {
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
}

.footer .foobox img {
    height: 2.5vmin;
    width:2.5vmin;
    padding-right:3vmin;
    padding-left:3vmin;
}

.foobox .title {
    font-size:4vmin;
    padding-top:3vmin;
    font-family:'Playfair';
    font-weight: 5em;
}
input{
    outline: none;
    border:0;
    padding:2vmin;
    max-width:20vmin;
}
.emailContainer{
margin-top:2vmin;
width:auto;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
max-width:20vmin;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 2vmin;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 2vmin;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 2vmin;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 2vmin;
  }

.emailContainer img {
    height:1vmin;
    width:4vmin;

}